<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Projects</title> Page</title>
</head>

<body>
    {{> header}}
    <p>{{screamIt Projects Portfolio}}</p>
    {{> footer}}
</body>

</html>